body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #5539cc;
  color: white;
}

.title {
  padding-top: 25px;
  text-align: center;
}

.weightinfo {
  padding-top: 25px;
  text-align: center;
}

.weightdiv {
  text-align: center;
}

.weightinput {
  text-align: center;
  width: 150px;
  height: 20px;
}

.heightinfo {
  padding-top: 25px;
  text-align: center;
}

.heightdiv {
  text-align: center;
}

.heightinput {
  text-align: center;
  width: 150px;
  height: 20px;
}

.calculatebutton {
  text-align: center;
  width: 155px;
  height: 28px;
}

.buttondiv {
  padding-top: 50px;
  text-align: center;
}

.resultdiv {
  padding-top: 50px;
  text-align: center;
}

.devinfo {
  padding-top: 50px;
  text-align: center;
}
